* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f4;
    overflow-x: hidden;
}
.mainNav {
    position:fixed;
    height: 100%;
    width: 200px;
    background-color: #050315;
    z-index: 99;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    width: 100px;
    height: 100px;
    margin: 30px;
}
.mainNav nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 10px;
    position: relative;
    width: 70%;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: center;
    border: solid 1px transparent;
}
.mainNav nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    width: 90%;
}
.mainNav nav i {
    position: absolute;
    left: 35px;
    bottom: 12px;
    font-size: 20px;
}
.mainNav nav a:hover {
    border: solid 1px #0d0739;
    background-color: #0d0739;
    border-radius: 5px;
}
.mainNav footer {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    background: #050315;
    color: white;
    text-align: center;
    width: 100%;
}

main {
    margin-left: 200px;
    background-color: white;
}
.firstContainer {
    width: 100%;
    height: 110vh;
    font-size: 17px;
    background-color: #050315;
    position: relative;
    bottom: 10px;
    
}
.firstContainer div {
    position: relative;
    top: 200px;
    font-size: 20px;

}
.firstContainer div strong {
    font-size: 50px;
    color: white;
    margin: 5px;
}
.firstContainer div button {
    border: solid 1px aqua;
    background-color:#050315;
    color: aqua;
    text-decoration: none;
    width: 150px;
    height: 40px;
    margin: 15px 0px 0px 10px;
    font-size: 15px;
    border-radius: 10px; 
    cursor: pointer;  
    display: flex; 
    justify-content: center;
    align-items: center;
}
.firstContainer div button:hover{
    background-color: aqua;
    color: #050315;
    transition: 0.5s;
}
.firstContainer div button:hover svg {
    color: #050315;
    transition: 0.5s;
}
.firstContainer div button svg {
    margin: 5px;
    color: aqua;
    width: 20px;
    height: 20px;
}
.firstContainer i {
    position: relative;
    left: 5px;
    margin: 10px 5px 10px 5px; 
}
.skills {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}
#skillBorder {
    width: 200px;
    height: 70px;
    position: absolute;
    top: -50px;
    left: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: appear  1.5s linear 0.5s forwards;
    opacity: 0;
    animation-timeline: view(100% 1%);
}
.skillsContainer div {
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 40px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.skillsContainer div p {
    z-index: 2;
    transform: translateY(200%);
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    color: aqua;
}

.skillsContainer div:hover p{
    color: white;
    font-size: 17px;
    border-radius: 10px;
    z-index: 2;
    height: 100%;
    width: 100%;
    transform: translatey(0%);
    backdrop-filter: blur(5px);
    transition: 0.7s;


}
.skillsContainer div:hover h3 {
    transform: scale(1.3);
    z-index: 3;
    transition: 1s;
    color: white;
}
@keyframes appear {
    from {
        z-index: 0;
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);

    }
    
}
.skillsContainer div img {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
}
.skillsContainer div:hover img {
    transform: scale(1.1);
    transition: 0.5s;

}
#ytVideo, #schoolLocation{
    width: 100%;
    height: 100vh;
}
#contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 120px;
    background-color: #050315;
    color: white;
}
#contact footer {
    margin: 20px;
}
#symbols {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 50px;
}
/* section, article, aside {
    margin-bottom: 20px;
} */

iframe {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}