* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f4;
    overflow-x: hidden;
}
.mainNav {
    position:fixed;
    height: 100%;
    width: 200px;
    background-color: #050315;
    z-index: 99;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    width: 100px;
    height: 100px;
    margin: 30px;
}
.mainNav nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 10px;
    position: relative;
    width: 70%;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: center;
    border: solid 1px transparent;
}
.mainNav nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    width: 90%;
}
.mainNav nav i {
    position: absolute;
    left: 35px;
    bottom: 12px;
    font-size: 20px;
}
.mainNav nav a:hover {
    border: solid 1px #0d0739;
    background-color: #0d0739;
    border-radius: 5px;
}
.mainNav footer {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    background: #050315;
    color: white;
    text-align: center;
    width: 100%;
}

main {
    margin-left: 200px;
    background-color: white;
}
.personalDetails {
    position: absolute;
    width: 85%;
    height: 95vh;
    z-index: 99;
    right: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-200%);
    overflow: hidden;
    backdrop-filter: blur(50px);
    border: solid 1px aqua;
}
.personalDetails .personalInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 800px;

}
.personalDetails .personalInfo img {
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
}
.personalInfo nav {
    margin: 20px;
    border: solid 1px aqua;
    width: 80%;
    height: 30px;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.personalDetails .buttonUp {
    position: absolute;
    z-index: 999;
    border: solid 1px aqua;
    background-color: aqua;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 40px;
    bottom: 0px;
    cursor: pointer;
}
.buttonUp:hover {
    transform: translateY(-10%);
    transition: 0.3 ease-in-out;
}
.firstContainer {
    width: 100%;
    height: 110vh;
    font-size: 17px;
    background-color: #050315;
    position: relative;
    bottom: 10px;
    
}
.firstContainer div {
    position: relative;
    top: 200px;
    font-size: 27px;

}
.firstContainer div strong {
    font-size: 50px;
    color: white;
    margin: 5px;
}
.firstContainer div button {
    border: solid 1px aqua;
    background-color:#050315;
    color: aqua;
    text-decoration: none;
    width: 170px;
    height: 50px;
    margin: 15px 0px 0px 10px;
    font-size: 17px;
    border-radius: 10px; 
    cursor: pointer;  
    display: flex; 
    justify-content: center;
    align-items: center;
}
.firstContainer div button:hover{
    background-color: aqua;
    color: #050315;
    transition: 0.5s;
}
.firstContainer div button:hover svg {
    color: #050315;
    transition: 0.5s;
}
.firstContainer div button svg {
    margin: 5px;
    color: aqua;
    width: 20px;
    height: 20px;
}
.firstContainer i {
    position: relative;
    left: 5px;
    margin: 10px 5px 10px 5px; 
}
.skills {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}
#skillBorder {
    width: 200px;
    height: 70px;
    position: absolute;
    top: -50px;
    left: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    transform: translateX(100%);
    /* animation: appear  1.5s linear 0.5s forwards; */
    /* animation-timeline: view(100% 1%); */
}
.skillsContent {
    width: 400px;
    height: 500px;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 100px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;


}
/* .description{
    z-index: 3;
    transform: translateY(100%);
    width: 300px;
    height: 400px;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 1, 0.623);
    font-size: 17px;
    color: white;
    position: absolute;
    backdrop-filter: blur(5px);
    border-radius: 10px;
} */
/* 
.skillsContent:hover .description{
    transition: 0.7s;
    transform: translateY(0%);

} */
.skillsContainer div:hover h2 {
    transform: scale(1.3);
    z-index: 4;
    transition: 0.5s;
}
@keyframes appear {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
    
}
@keyframes disappear {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
    
}

.skillsContainer div img {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1;
}
.skillsContainer div:hover img {
    transform: scale(1.1);
    transition: 0.5s;

}
#ytVideo, #schoolLocation{
    width: 100%;
    height: 100vh;
}
#ytVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#ytVideo iframe {
    transform: translateX(-200%);
}
#ytVideo p {
    transform: translateX(200%);
}
#schoolLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/* #schoolLocation iframe {
    transform: translateX(200%);
}
#schoolLocation p {
    transform: translateX(-200%);
} */
#contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 120px;
    background-color: #050315;
    color: white;
}
#contact footer {
    margin: 20px;
}
#symbols {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    margin: 50px;
    position: relative;
}
#link img{
    border: solid 1px transparent;
    height: 450px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    right: 5px;
    transform: translateX(-200%);
}
#symbols section {
    border: solid 1px transparent;
    height: 450px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
#symbols section .emoj {
    border: solid 1px black;
    width: 300px;
    height: 400px;
    align-content: center;
    margin: 10px;
}
#emojies {
    transform: translateX(200%);
  }
table {
    margin: 50px;
}
table td {
    border: solid 1px black;
    width: 200px;
    height: 60px;
}
/* section, article, aside {
    margin-bottom: 20px;
} */
 .emoji1 {
    transform: translateX(-130%);
 }
 .emoji2 {
    transform: translateX(130%);
 }

iframe {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}